{% if home.promo.enabled %}
<div class="promo-bar" id="promo-bar">
  <div class="container promo-inner">
    {% if home.promo.link %}
      <a href="{{ home.promo.link }}" class="promo-text">
        <svg class="icon promo-icon" aria-hidden="true"><use href="/assets/img/icons/sprite.svg#icon-campaign"></use></svg>
        {{ home.promo.text }}
      </a>
    {% else %}
      <span class="promo-text">
        <svg class="icon promo-icon" aria-hidden="true"><use href="/assets/img/icons/sprite.svg#icon-campaign"></use></svg>
        {{ home.promo.text }}
      </span>
    {% endif %}
    <button class="promo-close" id="promo-close" aria-label="Fermer">
      <svg class="icon" aria-hidden="true"><use href="/assets/img/icons/sprite.svg#icon-close"></use></svg>
    </button>
  </div>
</div>
{% endif %}
